<div class="popup-content" id="details-{{ event.id }}">
    <div class="popup__content popup__content--details">
        <header>
            <h2 id="event-title-{{ event.id }}">{{ event.title }}</h2>
            <div class="details-header-action">
                {% if can_edit %}
                <button type="button" class="btn btn-primary" data-popup-open="popup-big"
                    data-popup-url="{% url 'event-edit' event.id %}">Bearbeiten</button>
                {% endif %}

                {% if can_leave %}
                <form method="post" action="{% url 'event-leave' event.id %}" hx-post="{% url 'event-leave' event.id %}"
                    hx-target="#popup-big" hx-swap="innerHTML">
                    {% csrf_token %}
                    {% if next_url %}
                    <input type="hidden" name="next" value="{{ next_url }}" />
                    {% endif %}
                    <button type="submit" class="btn btn-secondary">Teilnahme beenden</button>
                </form>
                {% elif can_join %}
                <form method="post" action="{% url 'event-join' event.id %}" hx-post="{% url 'event-join' event.id %}"
                    hx-target="#popup-big" hx-swap="innerHTML">
                    {% csrf_token %}
                    {% if next_url %}
                    <input type="hidden" name="next" value="{{ next_url }}" />
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Teilnehmen</button>
                </form>
                {% endif %}

                {% if can_delete %}
                <form method="post" action="{% url 'event-delete' event.id %}"
                    hx-post="{% url 'event-delete' event.id %}" hx-target="#popup-big" hx-swap="innerHTML">
                    {% csrf_token %}
                    {% if next_url %}
                    <input type="hidden" name="next" value="{{ next_url }}" />
                    {% endif %}
                    <button type="submit" class="btn btn-secondary">Löschen</button>
                </form>
                {% endif %}
                {% if event.final %}
                Projekt abgeschlossen
                {% endif %}
            </div>
        </header>

        <section class="details-description" aria-label="Beschreibung">
            <h3>Beschreibung</h3>
            <p>{{ event.description|linebreaksbr }}</p>
        </section>

        <section class="details-schedule" aria-label="Zeit und Datum">
            <h3>Zeitplan</h3>
            <p>
                <strong>Beginn:</strong>
                <time datetime="{{ event.starting_date|date:'c' }}">
                    {{ event.starting_date|date:"d.m.Y H:i" }} Uhr
                </time>
            </p>
            <p>
                <strong>Ende:</strong>
                <time datetime="{{ event.ending_date|date:'c' }}">
                    {{ event.ending_date|date:"d.m.Y H:i" }} Uhr
                </time>
            </p>
        </section>

        <h3>Teilnehmer</h3>
        <ul class="details-participants">
            {% for user in event.participants.all %}
            <li>{{ user.first_name }} {{ user.last_name }}</li>
            {% empty %}
            <li>keine Teilnehmer</li>
            {% endfor %}
        </ul>

        {% if can_edit %}
        <form action="{% url 'set-earnings' event.id %}" method="post" hx-post="{% url 'set-earnings' event.id %}"
            hx-target="#popup-big" hx-swap="innerHTML" hx-validate="true">
            {% csrf_token %}
            {{ earnings_form.as_p }}
            <button type="submit" class="btn btn-primary">Abschicken</button>
        </form>
        {% else %}
        Einnahmen: {{ event.earnings|floatformat:2 }} €
        {% endif %}
        {% if can_approve_payment %}
        <form action="{% url 'set-earnings-received' event.id %}" method="post"
            hx-post="{% url 'set-earnings-received' event.id %}" hx-target="#popup-big" hx-swap="innerHTML"
            hx-validate="true">
            {% csrf_token %}
            {{ earnings_received_form.as_p }}
            <button type="submit" class="btn btn-primary">Abschicken</button>
        </form>
        {% endif %}

        <button type="button" class="btn btn-secondary" data-popup-close>Schließen</button>
    </div>
</div>
