<div class="popup-content" id="create-event-popup">
    <form method="post" class="popup__content popup__content--create" data-event-form action="{% url 'event-create' %}"
        hx-post="{% url 'event-create' %}" hx-target="#popup-big" hx-swap="innerHTML" hx-validate="true">
        {% csrf_token %}
        {% if next_url %}
        <input type="hidden" name="next" value="{{ next_url }}" />
        {% endif %}
        <input type="hidden" name="form_action" value="create_event" />
        <header>
            <h2 id="event-create-title">Neue Aktion erstellen</h2>
            <button type="button" class="btn btn-link" data-popup-close>Schließen</button>
        </header>

        {% include "events/_event_form_fields.html" %}

        <div class="popup__actions">
            <button type="submit" class="btn btn-primary">Erstellen</button>
            <button type="button" class="btn btn-secondary" data-popup-close>Abbrechen</button>
        </div>
    </form>
</div>
