<button type="button" class="event-card" data-popup-open="popup-big"
    data-popup-url="{% url 'event-details' event.id %}">
    <strong id="title">{{ event.title }}</strong>
    <span>
        <time datetime="{{ event.starting_date|date:'c' }}" id="starting-datetime">
            {{ event.starting_date|date:"d.m.Y H:i" }} Uhr
        </time>
        →
        <time datetime="{{ event.ending_date|date:'c' }}" id="ending-datetime">
            {{ event.ending_date|date:"d.m.Y H:i" }} Uhr
        </time>
    </span>
    <p hidden id="description">{{ event.description }}</p>
</button>
