<div class="popup-content" id="edit-{{ event.id }}">
    <form method="post" class="popup__content popup__content--edit" data-event-form
        action="{% url 'event-edit' event.id %}">
        {% csrf_token %}
        {% if next_url %}
        <input type="hidden" name="next" value="{{ next_url }}" />
        {% endif %}
        <input type="hidden" name="event_id" value="{{ event.id }}" />
        <input type="hidden" name="form_action" value="edit_event" />
        <header>
            <h2 id="event-edit-title-{{ event.id }}">Aktion bearbeiten</h2>
            <button type="button" class="btn btn-link" data-popup-open="popup-big"
                data-popup-url="{% url 'event-details' event.id %}">Zurück</button>
        </header>

        {% include "events/_event_form_fields.html" %}

        <div class="popup__actions">
            <button type="submit" class="btn btn-primary">Fertig</button>
            <button type="button" class="btn btn-secondary" data-popup-close>Schließen</button>
        </div>
    </form>
</div>
