{{ form.non_field_errors }}

<p>
    {{ form.title.errors }}
    {{ form.title.label_tag }}
    {{ form.title }}
</p>

<p>
    {{ form.description.errors }}
    {{ form.description.label_tag }}
    {{ form.description }}
</p>

<p>
    {{ form.starting_date.errors }}
    {{ form.starting_date.label_tag }}
    {{ form.starting_date }}
</p>

<p>
    {{ form.ending_date.errors }}
    {{ form.ending_date.label_tag }}
    {{ form.ending_date }}
</p>

<div class="participants-form-field">
    {{ form.participants.errors }}
    {{ form.participants.label_tag }}
    {{ form.participants }}
</div>
