<div class="popup-content" id="details-{{ user.id }}">
    <div class="popup__content popup__content--details">
        <header>
            <h2 id="user-name-{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</h2>
            <div class="details-header-action">
            </div>
        </header>

        <section class="details-description" aria-label="Beschreibung">
            <h3>Beschreibung</h3>
            <p>Geburtstag: {{ user.profile.birth_date | default:"Keine Angabe bisher" }}</p>
            <p>Nutzername: {{ user.username }}</p>
            <p>IServ Mail: {{ user.email }}</p>
            <p>Externe Mail: {{ user.profile.external_mail | default:"Keine Angabe bisher" }}</p>
        </section>

        <section class="details-schedule" aria-label="Projektteilnahmen">
            <h3>Projektteilnahmen</h3>
            <p>Arbeitsstunden: {{ total_hours | default:"0" }}h</p>
            {% for project_participation in project_participations %}
                {% include "projects/_project_card.html" with project=project_participation.project %}
            {% empty %}
                <p>Keine Projektteilnahmen</p>
            {% endfor %}
        </section>

        <button type="button" class="btn btn-secondary" data-popup-close>Schließen</button>
    </div>
</div>
