<p hidden id="notification-count">{{ notifications|length }}</p>
{% for notification in notifications %}
<button class="notification"
    {% if notification.open_as_popup %}
        data-popup-open="popup-big"
        data-popup-url="{% url 'project-details' notification.target.pk %}"
    {% else %}
        href="{{ notification.get_url }}"
    {% endif %}>
    <p>{{ notification }}</p>
    <button id="mark-as-read" data-url="{% url 'mark-notification-as-read' notification.id %}">Mark as Read</button>
</button>
{% endfor %}
