<div class="popup-content" id="details-{{ user.id }}">
    <div class="popup__content popup__content--details">
        <header>
            <h2 id="user-name-{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</h2>
            <div class="details-header-action">
                {% if can_edit %}
                <button type="button" class="btn btn-primary" data-popup-open="popup-big"
                    data-popup-url="{% url 'user-edit' user.id %}?next={{ next_url|urlencode }}">
                    Bearbeiten
                </button>
                {% endif %}
            </div>
        </header>

        <section class="details-description" aria-label="Beschreibung">
            <h3>Beschreibung</h3>
            <p>Geburtstag: {{ user.profile.birthday | default:"Keine Angabe bisher" }}</p>
            <p>Nutzername: {{ user.username }}</p>
            <p>IServ Mail: {{ user.email }}</p>
            <p>Externe Mail: {{ user.profile.external_mail | default:"Keine Angabe bisher" }}</p>
            <p>Telefonnummer: {{ user.profile.phone_number | default:"Keine Angabe bisher" }}</p>
        </section>

        <section aria-label="Bio">
            <h3>Bio</h3>
            <p>{{ user.profile.bio | default:"Keine Bio vorhanden" }}</p>
        </section>

        <section class="details-schedule" aria-label="Projektteilnahmen">
            <h3>Projektteilnahmen</h3>
            <p>Arbeitsstunden: {{ total_hours | default:"0" }}h</p>
            {% for event_participation in event_participations %}
            {% include "events/_event_card.html" with event=event_participation.event %}
            {% empty %}
            <p>Keine Projektteilnahmen</p>
            {% endfor %}
        </section>

        <button type="button" class="btn btn-secondary" data-popup-close>Schließen</button>
    </div>
</div>
