<p hidden id="notification-count">{{ notifications|length }}</p>
{% for notification in notifications %}
<button class="notification" {% if notification.open_as_popup %} data-popup-open="popup-big"
    data-popup-url="{% url 'event-details' notification.target.pk %}" {% else %} href="{{ notification.get_url }}"
    {% endif %}>
    <p>{{ notification }}</p>
    <button type="button" class="mark-as-read" hx-post="{% url 'mark-notification-as-read' notification.id %}"
        hx-swap="none" hx-on::after-request="htmx.trigger('#notifications','refresh')">
        Gelesen
    </button>
</button>
{% endfor %}
