{% extends 'base.html' %}
{% load static %}

{% block title %}Abi 28 - Abikasse{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'abi/index.css' %}" />
{% endblock %}

{%block main %}
<main>
    <!-- Counter -->
    <section class="counter">
        <span>Aktueller Stand der Abikasse</span>
        <strong>{{abikasse_current}}€ / {{abikasse_goal}}€</strong>
    </section>

    <!-- Hauptnavigation -->
    <section class="grid">
        <a class="card" href="{% url 'projects-upcoming' %}">
            <h2>Anstehende Aktionen</h2>
            <p>Alle geplanten und anstehenden Aktionen anzeigen</p>
        </a>

        <a class="card" href="{% url 'polls' %}">
            <h2>Umfragen</h2>
            <p>Über Mottos, Aktionen & mehr abstimmen</p>
        </a>

        <a class="card" href="{% url 'projects-own' %}">
            <h2>Meine Aktionen</h2>
            <p>Bereits erledigte Aktionen einsehen</p>
        </a>
    </section>
</main>
{% endblock %}
