@media (prefers-color-scheme: light) {
    :root {
        --bg: #F0F0F0;
        --card: #C6C6C8;
        --primary: #007AFF;
        --text: #1C1C1E;
        --muted: #3C3C43;
        --radius: 16px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #1C1C1E;
        --card: #2A2A2C;
        --primary: #0A84FF;
        --text: #F0F0F0;
        --muted: #EBEBF599;
        --radius: 16px;
    }
}
