{% extends 'basesbase.html' %}
{% block header %}
<details id="notifications" class="notifications" data-url="{% url 'notifications' %}"
    hx-get="{% url 'notifications' %}" hx-target="#notifications .notifications-list" hx-trigger="toggle, refresh"
    hx-swap="innerHTML">
    <summary class="notifications-title">Benachrichtigungen</summary>
    <div class="notifications__content">
        <button id="mark-all-as-read" data-url="{% url 'mark-all-notifications-as-read' %}"
            hx-post="{% url 'mark-all-notifications-as-read' %}" hx-swap="none"
            hx-on::after-request="htmx.trigger('#notifications','refresh')">
            Alle gelesen
        </button>
        <div class="notifications-list">
        </div>
    </div>
</details>
{% if user.is_authenticated %}
<details class="profile-menu">
    <summary class="profile-btn">Profil</summary>
    <div class="profile-menu__content">
        <a href="/events/" class="profile-menu__link">Meine Aktionen</a>
        <a data-popup-open="popup-big" data-popup-url="{% url 'user-details' request.user.id %}"
            class="profile-menu__link">Profil</a>
        {% if user.is_staff %}
        <a href="/admin/" class="profile-menu__link">Admin Panel</a>
        {% endif %}
        <form method="post" action="{% url 'logout' %}" class="profile-menu__logout-form">
            {% csrf_token %}
            <button type="submit" class="profile-menu__logout">Logout</button>
        </form>
    </div>
</details>
{% else %}
<a href="{% url 'login' %}" class="profile-btn">Login</a>
{% endif %}


{% endblock %}

{% block content %}
{% block main %}{% endblock %}

<dialog data-popup class="popup-big" id="popup-big" closedby="any"></dialog>
{% endblock content %}
