{% extends 'base.html' %}

{% load static %}

{% block title %}Kontakt{% endblock %}

{% block main %}
<main>
    <section>
        <h1>Kontakt</h1>
    </section>
    <section>
        <h2>Bei Problemen, Verbesserungs- oder Feautrevorschlägen gerne melden:</h2>
        <p>
            Am optimalsten für technisches, ein Issue auf <a href="https://github.com/idkaybattl/gradclass.org/issues"
                target="_blank">Github</a> eröffnen <br>
            (erfordert jedoch einen Account) <br>
            <br>
            alternativ persönlich bei mir: <br>
            Moritz Fechte: <br>
            Whatsapp etc.: +49 171 2952470 <br>
            IServ: moritz.fechte@whg.ms.de <br>
            Mail: moritz.fechte@gmail.com <br>
            <br>
            Der ganze Quellcode liegt außerdem komplett offen auf <a href="https://github.com/idkaybattl/gradclass.org/"
                target="_blank">Github</a> <br>
        </p>
    </section>
</main>
{% endblock %}
