{% extends 'base.html' %}
{% load static %}

{% block title %}WHG Abi 2028{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'dashboard/index.css' %}" />
{% endblock %}

{% block main %}
<main>
    <!-- Counter -->
    <section class="counter">
        <span>Aktueller Stand der Abikasse</span>
        <strong>{{abikasse_current|default:0}}€ / {{abikasse_goal}}€</strong>
    </section>

    <section class="ranking">
        <h1>Rangliste</h1>
        <table class="ranking-table">
            <tr class="ranking-row">
                <th>Rang</th>
                <th>Schüler</th>
                <th>Arbeitsstunden</th>
            </tr>

            {% for entry in ranking %}
            <tr class="ranking-row">
                <th class="">{{ entry.rank }}</th>
                <th class="">{{ entry.user.first_name }} {{ entry.user.last_name }}</th>
                <th class="">{{ entry.hours }}</th>
            </tr>
            {% endfor %}
        </table>
    </section>

    <!-- Hauptnavigation -->
    <section class="grid">
        <a class="card" href="{% url 'events-upcoming' %}">
            <h2>Anstehende Aktionen</h2>
            <p>Alle geplanten und anstehenden Aktionen anzeigen</p>
        </a>

        <a class="card" href="{% url 'polls' %}">
            <h2>Demokratie</h2>
            <p>Über Mottos, Aktionen & mehr abstimmen</p>
        </a>

        <a class="card" href="{% url 'events-own' %}">
            <h2>Meine Aktionen</h2>
            <p>Bereits erledigte Aktionen einsehen</p>
        </a>

        {% if can_view_all_events %}
        <a class="card" href="{% url 'events' %}">
            <h2>Alle Aktionen</h2>
            <p>Alle Aktionen einsehen</p>
        </a>
        {% endif %}

        {% if can_view_users %}
        <a class="card" href="{% url 'users' %}">
            <h2>Benutzer</h2>
            <p>Konten aller Schüler einsehen</p>
        </a>
        {% endif %}

        <a class="card" href="https://arnegeigerssteakhouse.m-fe.de">
            <h2>Arne Geiger's Steakhous</h2>
            <p>Nur für exquisite Geschmäcker</p>
        </a>
    </section>
</main>
{% endblock %}
